<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My site</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>

    {% if form %}

    <div class="container">
      <h1>Please sign up here!</h1>
      <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>


      {% else %}
      <div class="container">
        <div class="jumbotron">

          <h1>Welcome!</h1>
          <h3>Go to /users to sign up!</h3>

        </div>
      </div>

      {% endif %}

  </body>
</html>
