<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My site</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>

    {% if user_list %}
      <h1>Here are your users:</h1>
      <ol>
          {% for user in user_list %}
            <li>
              <p>User Info</p>
            <ul>
              <li>First Naame : {{ user.first_name }}</li>
              <li>Last Name : {{ user.last_name }}</li>
              <li>Email : {{ user.email }}</li>
            </ul>
            <br>
          {% endfor %}
          </li>
      </ol>

      {% else %}
        <h1>Welcome!</h1>
        <h3>Go to /users to see the list of user information</h3>

      {% endif %}

  </body>
</html>
