body{
  background-color: #011829;
  font-family: 'Montserrat';
  color: white;
  text-align: center;
  border: 60px solid #2EC4B6;
  border-top: 0px;
  margin: 0px;
}


h3{
  margin-bottom: 120px;
}

#p1{
  margin-bottom: 80px;
}

h2{
  margin-bottom: 50px;
}

input{
  width: 250px;
  height: 20px;
  margin-bottom: 10px;
}

#sub{
  border-radius: 25px;
  background: #FF9F1C;
  height: 80px;
  width: 150px;
  font-family: "Montserrat";
  font-size: 1.2em;
  margin-bottom: 4px;
  background: #FF9F1C;
  height: 80px;
  width: 150px;
  font-family: "Montserrat";
  font-size: 1.2em;
  margin-bottom: 4px;
}
