h1{
font-family: 'Dancing Script', cursive;
text-align: center;
}

table{
  margin: auto;
}

td{
  width: 8.0em;
  height: 16.0em;
  border: 6px solid white;
}

#one{
  background: #247BA0;
}

#two{
  background: #70C1B3;
}

#three{
  background: #B2DBBF;
}

#four{
  background: #F3FFBD
}

#five{
  background: #FF1654;
}
